<div class="row">
    <div class="col-sm-9">
        <h1>
            <i class="fas fa-globe"></i>
            <%= @trip[:title] %>
        </h1>
        <p><%= @trip[:description] %></p>

        <h2 class="mt-3"> KWEST Reviews </h2>
        <% if @review_count < 1 %>
        <p> No reviews yet </p>
        <% else %>
        <% for review in @reviews %>
            <div class="media">
                <% if review[:rating] == "5" %>
                    <h2 class="fa-3x mr-3"> &#65; </h2>
                <% elsif review[:rating] == "4" %>
                    <h2 class="fa-3x mr-3"> &#66; </h2>
                <% elsif review[:rating] == "3" %>
                    <h2 class="fa-3x mr-3"> &#67; </h2>
                <% elsif review[:rating] == "2" %>
                    <h2 class="fa-3x mr-3"> &#68; </h2>
                <% else %>
                    <h2 class="fa-3x mr-3"> &#69; </h2>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: review[:user_id]).to_a[0][:name] %>

                        <small>
                        <% if @current_user && @current_user[:id] == review[:user_id] %>
                            (<a href="/reviews/<%= review[:id] %>/edit">edit</a> | <a href="/reviews/<%= review[:id] %>/destroy">delete</a>)
                        <% end %>
                            </small>
                    </h5>
                    <%= review[:comments] %>
                    (<%= review[:year] %>)

                </div>
            </div>
        <% end %>
        <% end %>

    <h2 class="mt-3">Where even is this?</h2>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
          &q=<%= @coordinates %>&zoom=6" allowfullscreen>
      </iframe>
    </div>
    <div class="col-sm-3">
        <h3>When?</h3>
        <p><%= @trip[:date] %></p>
        <h3>Where?</h3>
        <p><%= @trip[:location] %></p>
        <h3>How many reviews so far?</h3>
        <p><%= @review_count %></p>

        <p class="mt-5">
            <% if @current_user %>
                <a href="/trips/<%= @trip[:id] %>/reviews/new" class="btn btn-primary">Review this KWEST</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to leave a review</a>
            <% end %>
        </p>

        <p class="mt-5">
            <% if @current_user %>
                <a href="/trips/<%= @trip[:id] %>/SMS" class="btn btn-primary">Sign up to receive SMS updates</a>
            <% end %>
        </p>
    </div>

    
</div>